@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';

@import 'components/header';
@import 'components/header-inner';
@import 'components/header-burger';

@import 'components/section-news';
@import 'components/section-news-inner';

@import 'components/section-contacts';

.container {
    width: 100%;
    max-width: 1920px;
    padding: 0 3.2rem;
    margin: 0 auto;
    @media only screen and (max-width: 1200px) {
        max-width: 1100px;
        padding-right: 1.6rem;
        padding-left: 1.6rem;
    }
}

.section {
    padding-bottom: 3.2rem;
    background: $grey;
}

.section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: $black;
}

.section-title-medium {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.section-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.section-text-small {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

html {
	height: 100%;
	line-height: $mainLineHeight;
	letter-spacing: 0.01em;
    background: $grey;
    font-family: $mainFont;
}

body {
	padding: 0;
	margin: 0;
	font-size: $size16;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-family: $mainFont;
}

*,
*:before,
*:after {
  	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}