@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';

@import 'components/swiper-custom';

@import 'components/header';
@import 'components/header-burger';

@import 'components/main';
@import 'components/plus';
@import 'components/life';
@import 'components/frames';
@import 'components/emotions';
@import 'components/qids';
@import 'components/potok';
@import 'components/about';
@import 'components/film';
@import 'components/map';
@import 'components/contacts';

@import 'components/footer';

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    @media only screen and (max-width: 1200px) {
        max-width: 1100px;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.section {
    padding: 3rem 0;
    @media only screen and (max-width: 556px) {
        padding: 2rem 0;
    } 
}

.des {
    @media only screen and (max-width: 556px) {
        display: none;
    }
}

.mob {
    display: none;
    @media only screen and (max-width: 556px) {
        display: block;
        width: 100%;
        object-fit: contain;
    }
}

div .black {
    color: #000;
}

html,body {
    @media only screen and (max-width: 768px) {
        overflow-x: hidden;
    }
}

html {
	height: 100%;
	line-height: $mainLineHeight;
	letter-spacing: 0.01em;
    font-family: $mainFont;
}

body {
	padding: 0;
	margin: 0;
	font-size: $size16;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-family: $mainFont;
    background: linear-gradient(0deg, #fff, #fff), #c0c0c0;
}

*,
*:before,
*:after {
  	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
    color: $black;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}