.contacts {
	display: grid;
	place-content: center;
	&__title {
        text-align: center;
		h3 {
			font-weight: 700;
			font-size: 36px;
			line-height: 130%;
		}
        h4 {
            padding-top: 2rem;
            padding-bottom: 1rem;
            font-weight: 700;
			font-size: 24px;
			line-height: 130%;
        }
        a {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $black;   
        }
	}
	&__content {
		display: flex;
		place-content: center;
		place-items: center;
        margin: 2rem 0;
		gap: 2.5rem;
        @media only screen and (max-width: 1170px) {
            display: grid;
            place-items: start;
        }
	}
	&__item {
		display: flex;
		place-content: center;
		place-items: center;
		gap: 1rem;
		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			color: #000000;
		}
	}
}
