.footer {
    position: relative;
    margin-top: 3rem;
    padding: 2rem 0;
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 3rem;
        margin-bottom: 4.5rem;
    }
    &__item {
        &-logo {
            margin-bottom: 1rem;
        }
        &-text {
            margin-bottom: 1rem;
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
            }
        }
        &-form {
            input {
                width: 100%;
                padding: 1rem 2rem;
                background: rgba(9, 19, 33, 0.0638304);
                background-blend-mode: multiply;
            }
        }
        &-list {
            li {
                margin-bottom: 1rem;
                a {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                }
            }
        }
        &-social {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 2rem 0;
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }
        &-item {
            display: flex;
            gap: 3rem;
        }
    }
}