.navBurger {
	width: 40px;
	height: 25px;
	margin-top: 0.5rem;
	margin-left: 4rem;
	box-sizing: border-box;
	background-clip: content-box;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	transform: rotate(0deg);
	transition: all 0.25s ease-in-out;
	z-index: 1000;
	cursor: pointer;
}

.navBurger-white-bg:after,
.navBurger-white-bg:before {
    background: $white;
}

.navBurger-black-bg:after,
.navBurger-black-bg:before {
    background: $black;
}

.navBurger:after,
.navBurger:before {
	content: "";
	position: absolute;
	height: 3px;
	width: 100%;
	right: 0;
	will-change: rotate;
	transform: rotate(0deg);
	transition: all 0.5s ease;
}

.navBurger::before {
	top: -10px;
	width: 100%;
	height: 3px;
}

.navBurger.active {
	background: transparent;
	background-clip: content-box;
}

.navBurger.active:before {
	transform: rotate(135deg);
	top: 0;
	width: 110%;
}

.navBurger.active:after {
	bottom: 0;
	transform: rotate(-135deg);
	width: 110%;
}

.overlay {
    position: absolute;
    margin-top: 1rem;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	overflow: hidden;
	transform-origin: left;
	transform: scale(0);
	transition: all 0.4s ease-in-out;
	z-index: 800;
}

.overlay.open {
	opacity: 1;
	visibility: visible;
	transform: scale(1)
}
