.header {
    padding: 1.5rem 0;
    &__nav {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &-list {
            display: flex;
            gap: 2rem;
        }
        &-btn {
            padding: 1rem 1.5rem;
            border-radius: 10px;
            background-color: $yellow;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
    }
}