.header {
    padding: 1.5rem 0;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        &-langs {
            display: flex;
            align-items: center;
            margin-right: 1rem;
            gap: 0.6rem;
            @media only screen and (max-width: 1170px) {
                display: grid;
                margin-right: 0;
            }
            span {
                width: 2px;
                height: 23px;
                background-color: #434d52;
                @media only screen and (max-width: 1170px) {
                    width: 23px;
                    height: 2px;
                }
            }
            &-lang {
                font-weight: 700;
                font-size: 20px;
                line-height: 130%;
                text-transform: capitalize;
                color: #434d52;
                &.active {
                    color: $red;
                }
            }
        }
        &-list {
            display: flex;
            gap: 2rem;
            @media only screen and (max-width: 1170px) {
                display: grid;
            }
            li {
                a {
                    @media only screen and (max-width: 1170px) {
                        font-size: 24px;
                    }
                    @media only screen and (max-width: 320px) {
                        font-size: 21px;
                    }
                }
            }
        }
        &-btn {
            padding: 1rem 1.5rem;
            border-radius: 10px;
            background-color: $yellow;
            font-weight: 500;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
            text-align: center;
        }
    }
}
