.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        h1 {
            font-size: 100px;
            line-height: 100px;
            font-weight: bold;
        }
    }
    &__line {
        margin-top: 2rem;
        width: 70px;
        height: 2px;
        background-color: red;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding-top: 2rem;
        ul {
            li {
                margin-bottom: 1rem;
                font-size: 18px;
                span {
                    font-size: 18px;
                    border-bottom: 1px solid #000;
                }
            }
        }
    }
    &__cool {
        font-size: 50px;
        transform: rotate(-90deg);
    }
}