.bg {
    position: relative;
    height: 560px;
    margin-bottom: 1rem;
    background-image: url(/src/assets/img/main-bg.png);
    background: linear-gradient(90.65deg, #FFD122 40%, rgba(196, 196, 196, 0) 60%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media only screen and (max-width: 1170px) {
        height: 100%;
        background: linear-gradient(0.65deg, #FFD122 40%, rgba(196, 196, 196, 0) 60%);
    }
    &-img {
        position: absolute;
        right: 0;
        min-width: 1200px;
        max-height: 560px;
        object-fit: cover;
        z-index: -1;
        @media only screen and (max-width: 1170px) {
            width: 100%;
            height: 100%;
            right: -480px;
        }
    }
}

.main {
    @media only screen and (max-width: 1170px) {
        padding-bottom: 1.5rem;
    }
    &__content {
        padding: 2.2rem 0;
        @media only screen and (max-width: 1170px) {
            margin-top: 10rem;
        }
    }
    &__item {
        &-img {
            h1 {
                font-size: 0;
            }
            img {
                margin-left: -0.6rem;
            }
        }
        &-title {
            margin-top: -1rem;
            margin-bottom: 1.2rem;
            h1 {
                font-weight: 700;
                font-size: 48px;
                line-height: 60px;
                letter-spacing: -1px;
                color: #000000;
                @media only screen and (max-width: 1170px) {
                    font-size: 32px;
                    line-height: 38px;
                }
            }
        }
        &-text {
            margin-bottom: 2.5rem;
            p {
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                color: #000000;
                @media only screen and (max-width: 1170px) {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
        &-btn {
            padding: 1rem 3rem;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            text-transform: capitalize;
            color: #FFFFFF;
            background: linear-gradient(90.29deg, rgba(0, 60, 177, 0.4) -1.87%, rgba(86, 144, 255, 0.4) 68.44%), #4886FF;
            box-shadow: 0px 4px 28px #AC8000;
            border-radius: 40px;
            cursor: pointer;
        }
    }
}