.plus {
    &-mt {
        margin-top: 5rem;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-content: center;
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
        @media only screen and (max-width: 1170px) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 2rem;
        }
        @media only screen and (max-width: 556px) {
            grid-template-columns: repeat(1, 1fr);
        }
        &-pt {
            @media only screen and (max-width: 1170px) {
                grid-gap: 6rem;
            } 
        }
    }
    &__item {
        width: 400px;
        @media only screen and (max-width: 1170px) {
            width: 100%;
            margin-bottom: 1rem;
        }
        &:nth-child(1) {
            .plus__item-color {
                background: $blue;
            }
            .plus__item-nocolor {
                border: 2px solid $blue;
            }
        }
        &:nth-child(2) {
            .plus__item-color {
                background: $yellow;
            }
            .plus__item-nocolor {
                border: 2px solid $yellow;
            }
        }
        &:nth-child(3) {
            .plus__item-color {
                background: $red;
            }
            .plus__item-nocolor {
                border: 2px solid $red;
            }
        }
        &-color {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        &-nocolor {
            min-height: 365px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            @media only screen and (max-width: 1170px) {
                min-height: auto;
            }
        }
        &-img {
            position: relative;
            top: -65px;
            display: grid;
            place-content: center;
            place-items: center;
        }
        &-title {
            margin-top: -2.3rem;
            padding: 1rem 2rem;
            @media only screen and (max-width: 1170px) {
                margin-top: -4.3rem;
            }
            h2 {
                font-weight: 700;
                font-size: 28px;
                line-height: 41px;
                color: $white;
                span {
                    visibility: hidden;
                }
            }
            &-pt {
                padding-top: 4rem;
            }
        }
        &-text {
            padding: 3rem 2rem;
            @media only screen and (max-width: 1170px) {
                padding: 1rem 2rem;
            }
        }
    }
}