.potok {
    margin-top: 25rem;
    background-color: $blue;
    @media only screen and (max-width: 1170px) {
        margin-top: 12rem;
    }
    &__res {
        display: grid;
        place-content: center;
        grid-gap: 1rem;
        padding-top: 2rem;
        font-size: 18px;
        text-align: center;
        @media only screen and (max-width: 556px) {
            padding-top: 1rem;
            grid-gap: 0;
            font-size: 16px;
        }
        &-suc {
            font-size: 41px;
            line-height: 60px;
            color: green;
            @media only screen and (max-width: 556px) {
                font-size: 31px;
                line-height: 50px;
            }
        }
        &-err {
            color: red;
        }
    }

    &__img {
        position: relative;
        &-right {
            position: absolute;
            top: -422px;
            right: -20px;
            @media only screen and (max-width: 1170px) {
                right: inherit;
                top: -254px;
            }
        }
    }
    &__title {
        padding-top: 4rem;
        margin-bottom: 0.5rem;
        @media only screen and (max-width: 1170px) {
            padding-top: 6.5rem;
        }
        h2 {
            font-weight: 700;
            font-size: 40px;
            line-height: 130%;
            text-transform: uppercase;
            color: #000000;
            @media only screen and (max-width: 1170px) {
                font-size: 35px;
            }
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 0;
        align-items: center;
        @media only screen and (max-width: 1170px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
        &-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 2rem;
            @media only screen and (max-width: 1170px) {
                grid-column-gap: 1rem;
            }
        }
        &-flow {
            margin-bottom: 2rem;
            h3 {
                font-weight: 700;
                font-size: 36px;
                line-height: 130%;
                color: #ffffff;
                @media only screen and (max-width: 1170px) {
                    font-size: 20px;
                }
            }
            p {
                font-weight: 400;
                font-size: 24px;
                line-height: 130%;
                color: #ffffff;
                @media only screen and (max-width: 1170px) {
                    font-size: 16px;
                }
            }
        }
        &-form {
            width: 425px;
            margin: 0 auto;
            margin-top: 1rem;
            padding: 2.2rem 2rem;
            background-color: #fff;
            border-radius: 20px;
            @media only screen and (max-width: 1170px) {
                width: 100%;
            }
            &-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 2rem;
                text-align: center;
                h3 {
                    font-weight: 700;
                    font-size: 40px;
                    color: $blue;
                }
                h4 {
                    margin: 1.3rem 0;
                    font-weight: 400;
                    font-size: 30px;
                }
                p {
                    font-weight: 400;
                    font-size: 18px;
                }
            }
            &-content {
                display: grid;
                margin-bottom: 1rem;
                label {
                    margin-bottom: 1rem;
                    input {
                        width: 100%;
                        padding: 1rem 1.5rem;
                        background: #f5f5f5;
                        border-radius: 7px;
                    }
                }
            }
            &-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                padding: 1.2rem 2rem;
                background: #ffc727;
                border-radius: 25px;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #000000;
                cursor: pointer;
                @media only screen and (max-width: 1170px) {
                    padding: 1rem 1.5rem;
                }
                &:disabled {
                    opacity: 0.4;
                }
            }
        }
    }
}
