.contacts {
    &__content {
        height: 100vh;
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 1.5rem;
        @media only screen and (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
        &_title {
            margin-bottom: 4.5rem;
            @media only screen and (max-width: 768px) {
                margin-bottom: 2rem;
            }
        }
        &_social {
            display: grid;
            margin-bottom: 1.5rem;
        }
        &_border {
            width: 150px;
            height: 1px;
            margin: 4rem 0;
            background: $white;
            @media only screen and (max-width: 768px) {
                width: 50px;
                margin: 3rem 0;
            }
        }
        &_text {
            margin-top: 2rem;
            p {
                width: 90%;
            }
        }
        &_map {
            iframe {
                width: 100%;
                display: block;
                border-radius: 25px;
                @media only screen and (max-width: 768px) {
                    height: 350px;
                }
            }
        }
    }
}