.frames {
    &-swiper {
        position: relative;
        border-radius: 25px;
        @media only screen and (max-width: 1170px) {
            border-radius: 0;
        }
    }
    &-arrows {
        position: absolute;
        top: 11%;
        left: 48%;
        .swiper-button-prev {
            left: -40px;
        }
        .swiper-button-next {
            left: 40px;
        }
    }
}

.emotions {
    &-swiper {
        position: relative;
    }
    &-arrows {
        position: absolute;
        padding-bottom: 5rem;
        bottom: 5%;
        left: 39%;
        @media only screen and (max-width: 1170px) {
            left: 18%;
        }
        .swiper-button-prev {
            left: -40px;
        }
        .swiper-button-next {
            left: 40px;
        }
    }
    .swiper-button-prev, .swuper-button-next {
        width: 60px;
        height: 60px;
        color: #000;
        background-color: $yellow;
        border-radius: 50%;
        }
    .swiper-button-next, .swuper-button-prev {
        width: 60px;
        height: 60px;
        color: #000;
        background-color: $yellow;
        border-radius: 50%;
    }
}

.about {
    &-swiper {
        position: relative;
    }
    &-arrows {
        position: absolute;
        padding-bottom: 5rem;
        top: 5%;
        left: 56%;
        @media only screen and (max-width: 1170px) {
            top: 35%;
            left: 17%;
        }
        .swiper-button-prev {
            left: -40px;
        }
        .swiper-button-next {
            left: 40px;
        }
    }
    .swiper-button-prev, .swuper-button-next {
        width: 60px;
        height: 60px;
        color: #000;
        background-color: $yellow;
        border-radius: 50%;
        }
    .swiper-button-next, .swuper-button-prev {
        width: 60px;
        height: 60px;
        color: #000;
        background-color: $yellow;
        border-radius: 50%;
    }
}

.swiper-button-prev, .swuper-button-next {
    width: 60px;
    height: 60px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
}
.swiper-button-next, .swuper-button-prev {
    width: 60px;
    height: 60px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    position: relative;
    left: -2px;
    content: url(/src/assets/img/arrow-left.png);
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    position: relative;
    left: 2px;
    content: url(/src/assets/img/arrow-right.png);
}

// pagination

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: $yellow;
    opacity: 1;
}