.technology {
    &__content {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-gap: 2rem;
        margin-top: -2rem;
    }
    &__item {
        img {
            opacity: .25;
            filter: grayscale(100%);
            cursor: pointer;
            transition: all .3s ease;
            &:hover {
                opacity: 1;
                filter: grayscale(0%);
            }
        }
    }
    &__last {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        &-item {
            h4 {
                margin-bottom: 2rem;
                font-size: 24px;
                font-weight: bold;
            }
            p {
                color: #c69c6d;
            }
        }
    }
    &__line {
        width: 1px;
        height: 100px;
        background-color: #8899a6;
    }
}