.works {
    &__title {
        h2 {
            font-size: 50px;
            font-weight: bold;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        margin: 3rem 0;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        border-radius: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        cursor: pointer;
    }
    &__watch {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-gap: 1rem;
        margin-top: 4rem;
        span {
            position: relative;
            left: 48%;
            width: 2px;
            height: 30px;
            background-color: #000;
        }
        a {
            font-weight: bold;
            color: #8899a6;
            &:hover {
                border-bottom: 1px solid #8899a6;
            }
        }
    }
}