@import 'fonts';

// Font
$mainFont                : 'Nunito';

$black : #000;
$grey : #F5F5F5;
$blue : #4886FF;
$yellow : #FFD122;
$yellow : #FFD122;
$red : #E53535;

$white : #fff;

$size48                  : 48px;   
$size36                  : 36px;
$size30                  : 30px;
$size25                  : 25px;
$size24                  : 24px;
$size23                  : 23px;
$size22                  : 22px;
$size20                  : 20px;
$size18                  : 18px;
$size16                  : 16px;
$size14                  : 14px;
$mainLineHeight          : 170%;

$desktopWidth            : 1270px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
$smContainerWidth        : 300px;